# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml

# Django:
local_settings.py
db.sqlite3
staticfiles/

# Environments
.env


